@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.Portfolio {
  margin: 0 auto;
  display: flex;
  gap: 2em;
  padding: 2em 0.6em;
  max-width: $app-width;
  width: 95%;
}

.portfolio-sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.portfolio-block {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0.6em;
  border-radius: 10px;
  font-size: 0.9em;
}
.portfolio-block:hover {
  background-color: $clr-row;
}

.portfolio-block-total {
  font-size: 0.9em;
  color: $clr-fontAccent;
}

.block-img {
  border-radius: 50%;
  background-color: #2c4cc6;
  height: 40px;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
}

.block-info {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.sidebar-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.portfolio-main {
  width: 100%;
}

.portfolio-main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-balance {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.header-total {
  font-size: 2.2rem;
  font-weight: 700;
}

.header-percent {
  color: #fff;
  background-color: $clr-gain;
  font-weight: 700;
  border-radius: 7px;
  padding: 0.4em 0.6em;
  white-space: nowrap;
}

.header-change {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.change-timeframe {
  color: $clr-fontAccent;
  background-color: $clr-row;
  font-size: 0.9rem;
  padding: 0.1em 0.2em;
  border-radius: 5px;
}
.change-amount {
  color: $clr-gain;
  font-weight: 700;
}

.header-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}

/* Buttons and Inputs */
.btn-add {
  @include button($clr-btn);
  gap: 0.5em;
}

.btn-more {
  @include button($clr-row, $clr-fontAccent);
  gap: 0.5em;
}

.btn-hide {
  background-color: inherit;
  color: $clr-fontAccent;
  border: none;
  font-size: 1.2rem;
}

.btn-sidebar {
  font-size: 1rem;
  background-color: inherit;
  border: none;
  color: $clr-font;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  text-align: left;
  padding: 0.8em 1em;
}
.btn-sidebar:hover {
  background-color: inherit;
  color: $clr-link;
  background-color: $clr-row;
}

.btn-table {
  font-size: 1.1rem;
  background-color: inherit;
  border: none;
  color: $clr-fontAccent;
}

.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.portfolio-main-allocation {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}

.allocation-wrapper {
  border: 8px solid $clr-hr;
  border-radius: 10px;

  .allocation-bars {
    display: flex;

    .allocation-bar {
      background-color: #f79622;
      height: 12px;
      position: relative;
      // &:hover {
      //   .crypto-info {
      //     display: block;
      //   }
      // }

      .crypto-info {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        color: #fff;
        p {
          width: fit-content;
        }
      }
    }

    .allocation-bar:first-child {
      border-radius: 10px 0 0 10px;
    }

    .allocation-bar:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
}

.portfolio-main-stats {
  display: flex;
  justify-content: flex-start;
  gap: 2.4em;
  margin-top: 1.4em;
}

.portfolio-stat {
  color: $clr-fontAccent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  font-size: 0.8rem;
  font-weight: 700;
}

.stat-value {
  color: $clr-loss;
  margin-top: 0.3em;
  font-weight: 600;
  font-size: 0.9rem;
}

.portfolio-main-table {
  margin-top: 2em;
  overflow-x: scroll;
}

.caret {
  font-size: 0.8rem;
  margin-right: 0.3em;
}

.hidden-cover {
  background-color: $clr-hr;
  border-radius: 0.4em;
  color: $clr-hr !important;
  position: relative;
  user-select: none;
}

.hidden-icon {
  color: $clr-fontAccent;
  opacity: 0.7;
  font-size: 0.8em;
  position: absolute;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@media screen and (width <= 1200px) {
  .portfolio-sidebar {
    display: none;
  }
}

@media screen and (width <= 800px) {
  .portfolio-main-stats {
    flex-direction: column;
    gap: 1.2em;
  }
  .portfolio-stat {
    justify-content: space-between;
  }
}

@media screen and (width <= 800px) {
  .portfolio-main-stats {
    flex-direction: column;
  }
  .portfolio-main-header {
    gap: 0.6em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.DialogModal {
  text-align: left;
  .header {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;
    gap: 0.6em;
  }

  .subtitle {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

.ModalAddTransaction {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  justify-content: center;
  align-items: stretch;

  input,
  select {
    width: 100%;
    border-radius: $border-radius;
    padding: 0.6em 0.8em;
    border: 1px solid $clr-shadow;
    font-size: 1rem;
  }

  .crypto-select {
    width: 100%;
    border-radius: $border-radius;
  }

  .transaction-inputs {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
  }
  .transaction-inputs-sub {
    width: 100%;
    display: flex;
    button {
      flex: 1;
    }
  }
  .input-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }

  .transaction-total {
    background-color: $clr-hr;
    border-radius: $border-radius;

    padding: 0.4em 0.6em;
    display: flex;
    flex-direction: column;
    gap: 0.6em;

    .total {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  .nav-buttons {
    display: flex;
    width: 100%;
    background-color: $clr-hr;
    padding: 0.2em 0.4em;
    border-radius: $border-radius;

    .btn-tab {
      flex: 1;
      background-color: $clr-hr;
      @include button($clr-hr, $clr-fontAccent);

      &:hover {
        background-color: $clr-row;
      }
    }

    .active {
      background-color: $clr-bg;
    }
  }
}

.ModalEditTransaction {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  text-align: left;

  .commands {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    margin-top: 1.2em;

    button {
      width: 100%;
      @include button($clr-hr, $clr-fontAccent);
    }
    .btn-remove {
      @include button($clr-loss, #fff);
    }
  }
}
