.WidgetsPage {
  padding: 0 1em;
  width: 90%;
  margin: 0 auto;
}


.WidgetsPage .crypto-img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: .8em;
}

.WidgetsPage .crypto-cards {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    margin-top: 2em;
    
}


.widget-row {
  display: flex;
  justify-content: center;
      flex-wrap: wrap;

  gap: 2em;
  padding: 2em 4em;
}

.module {
  /* border: 1px solid #9a9a9a; */
  /* padding: .6em 1em; */
  /* max-width: 300px; */
  /* text-align: center; */
  box-shadow: 0 0 15px rgba(105, 105, 105, 0.2);
  border-radius: 15px;
}

.module-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.4em;
}

.space {
  flex: 1 1 auto;
}
