
.EthGasTracker {
    padding: .6em 1em;
    max-width: 300px;
}

.gas-tier {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}
.gas-speed {
    text-align: right;
    margin-right: 1.2em;
}
.gas-price {
    
}
.gas-block {
    text-align: right;
    margin-top: .6em;
}