@import "@/styles/variables.scss";

.CryptoCard {
  width: 225px;
  /* height: 175px; */
  box-shadow: 0 0 15px rgba(105, 105, 105, 0.2);
  border-radius: 15px;
  padding: 1em;
  background-color: $clr-bg;
  transition: transform 150ms;
  cursor: pointer;
}
.CryptoCard:hover {
  transform: scale(1.1);
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 40px;
}
.card-title {
  display: flex;
  gap: 0.4em;
}
.card-name {
  font-size: 1.2rem;
}
.card-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-symbol {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $clr-fontAccent;
  margin-top: 0.3em;
}
.card-price {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-price-change {
  /* background-color: gray; */
  color: #ffffff;
  border-radius: 10px;
  padding: 0.2em 0.4em;
  margin-top: 0.4em;
  text-align: center;
}

.card-main {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 0.6em;
}
.card-market {
  /* display: flex; */
  margin: 0 auto;
  margin-top: 0.4em;
  margin-left: 0.4em;
}

.card-sparkline {
  margin-top: 1.2em;
}
