@import "../../styles/variables.scss";

.CryptosPage {
  border-bottom: 1px solid $clr-fontAccent;
  padding: 0 1em;
  margin: 0 auto;
}

/* PAGINATION */
.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  .page-btn {
    background-color: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: $clr-font;
    border: 1px solid $clr-fontAccent;
    padding: 0.5em 0.8em;
    transition: all 100ms;
    &:hover {
      background-color: $clr-hr;
    }
  }
  .current-page {
    background-color: $clr-hr;
  }
}
