


.Scroller {
    width: 100%;
    background-color: var(--clr-bg);
    height: 4em;
    border-top: 1px solid var(--clr-hr);
    border-bottom: 1px solid var(--clr-hr);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    overflow: hidden;
}

.marquee {
    display: inline-block;
    /* padding-left: 100%; */
    animation: marquee 10s linear infinite;
    display: flex;
    justify-content: center;
    /* gap: 2em; */
}
.marquee:hover {
    animation-play-state: paused
}

.ticker-cell {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid var(--clr-hr);
    border-right: 1px solid var(--clr-hr);
    /* background-color: aqua; */
    cursor: pointer;
    padding: 0 2em;
}
.crypto-img {
    width: 30px;
    margin-right: .8em;
}
.crypto-name {
    font-size: 1.05rem;
    font-weight: 600;
}
.crypto-symbol {
    color: var(--clr-fontAccent);
    font-weight: 600;

}
.crypto-price {
    font-size: 1.05rem;
    font-weight: 600;
}
.crypto-change {
    font-weight: 600;
    font-size: .9rem;

   
}
.price-data {
    margin-left: 2em;
    text-align: right;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}