

.Dominance {
    /* border: 1px solid #9a9a9a; */
    padding: .6em 1em;
    max-width: 300px;
    text-align: center;
}



.top-3 {
    display: flex;
    justify-content: space-between;
}
.top-3-crypto {
    text-align: left;
    display: flex;
    justify-content: center;
    gap: .2em;
}


.top-3-name {
    text-transform: uppercase;
    font-weight: 600;
}

.top-3-value {
}
