@import "../../scss/variables.scss";

.Navbar {
  padding: 0 0.2em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 10;
  width: 100%;
  background: $clr-bg;
  max-width: $app-width;
  margin: 0 auto;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  margin-left: 0.8em;
}

.nav-icon {
  background-color: inherit;
  border: none;
  color: $clr-font;
  font-size: 1.2rem;
  transition: text-shadow 0.2s;
  cursor: pointer;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -2px;
  display: flex;
  align-items: center;
  gap: 0.2em;
  color: $clr-font;
  user-select: none;
}
.header-title img {
  width: 30px;
  border-radius: 50%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $clr-hr;
  padding: 0.6em;
  background-color: $clr-bg;
  order: 1;
}
.header-links {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 1.6em;
  margin-left: 2em;
  font-size: 1rem;
  font-weight: 600;
}
.nav-item {
}
.nav-link {
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  padding-top: 0.5em;
  padding-bottom: 1em;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: 600;
  border-bottom: 1px solid $clr-hr;
  order: 0;
}
.header-crypto {
  display: flex;
  align-items: center;
  gap: 1.2em;
  white-space: nowrap;
  width: fit-content;
  overflow: auto;
}
.header-stat {
  display: flex;
  gap: 0.4em;
}
.header-stat-link {
  color: $clr-link;
}

.header-control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-control-small {
  display: flex;
  width: fit-content;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  gap: 16px;

  * {
    padding: 0;
    font-size: 1.1rem;
    * {
      padding: 0;
    }
  }
}
.icon-div {
  background-color: inherit;
  border: none;
  color: $clr-font;
  transition: text-shadow 0.2s;
}

.crypto-dominance {
  display: flex;
  gap: 0.5em;
}

.market-change {
  display: flex;
  gap: 0.4em;
}

.nav-select {
  padding: 0.4em;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-color: inherit;
  color: $clr-fontAccent;
  cursor: pointer;
  border-radius: 8px;
}

.nav-select:hover {
  background-color: $clr-hr;
}

.header-control-small {
  display: none;
  color: $clr-fontAccent;
}

@media screen and (width <= 1200px) {
  .Navbar .nav-list {
    display: none;
  }
  .Navbar .nav-search {
    display: none;
  }
  .Navbar .header-control {
    display: none;
  }

  .Navbar .header-control-small {
    display: flex;
  }

  .Navbar .main-header {
    order: 0;
  }
  .Navbar .sub-header {
    order: 1;
  }
}
