/* FOOTER */
.Footer {
  /* position:absolute; */
  bottom: 0;
  width: 100%;
  min-height: 300px; /* Height of the footer */
  background: var(--clr-bg);
  border-top: 1px solid var(--clr-hr);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em 1.6em;
  max-width: inherit;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 50%;
  align-self: flex-end;
}
.footer-copyright {
  color: var(--clr-fontAccent);
  bottom: 0;
  /* position: absolute; */
  white-space: nowrap;
  height: inherit;
}
.footer-dir {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.Footer .dir-col {
  min-width: 100px;
  font-weight: 600;
}
.Footer .dir-title {
  font-size: 1.2rem;
  color: var(--clr-font);
}
.Footer .dir-list {
  margin-top: 1em;
  list-style: none;
  position: relative;
  line-height: 1.2em;
}
.Footer .dir-item {
  /* list-style: none; */
  margin-top: 1em;
  /* left: 0; */
  text-align: left;
  color: var(--clr-fontAccent);
  font-size: 0.9em;
  /* transition: color 200ms; */
}

.Footer .dir-item:hover {
  color: var(--clr-accent);
}

.Footer .nav-link {
  transition: color 200ms;
}
.Footer .nav-link:hover {
  color: var(--clr-accent);
}

@media all and (max-width: 800px) {
  .Footer {
    flex-direction: column-reverse;
    gap: 1.6em;
  }
  .footer-dir {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer-main {
    align-self: flex-start;
  }
}
