/* FOOTER */
.Footer {
   /* position:absolute; */
   bottom:0;
   width:100%;
   height:25%;   /* Height of the footer */
   background:var(--clr-bg);
   border-top: 1px solid var(--clr-hr);
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 2em 3em;
}

.footer-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 50%;

}
.footer-copyright {
  color: var(--clr-fontAccent);
  bottom: 0;
  position: absolute;
}
.footer-dir {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.Footer .dir-col {
  min-width: 100px;
  font-weight: 600;

}
.Footer .dir-title {
  font-size: 1.2rem;
  color: var(--clr-font);
}
.Footer .dir-list {
  margin-top: 1em;
  list-style: none;
  position: relative;
  line-height: 1.2em;
}
.Footer .dir-item {
  /* list-style: none; */
  margin-top: 1em;
  /* left: 0; */
  text-align: left;
  color: var(--clr-fontAccent);
  font-size: .9em;
  /* transition: color 200ms; */
}

.Footer .dir-item:hover {
  color: var(--clr-accent);
}


.Footer .nav-link {
  transition: color 200ms;
}
.Footer .nav-link:hover {
  color: var(--clr-accent);
}

