:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --app-width: 1600px;

  --clr-font: #111827;
  --clr-fontAccent: #6B7280;
  --clr-bg: #ffffff;
  --clr-accent: #fc8e06;
  --clr-shadow: #999;
  --clr-row: #F9FAFB;
  --clr-hr: #F3F4F6;
  
  --clr-loss: #ea3943;
  --clr-gain: #16c784;
  --clr-logo: #fc8e06;
  --clr-btn: #3459e7;
  --clr-link: #6188ff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}
button:active {
  border: none;
}

body {
  background-color: var(--clr-bg);
}
.App {
  font-family: Inter, Helvetica, Arial, sans-serif ; 
  font-size: 16px;
  font-weight: 500;
  background-color: var(--clr-bg);
  color: var(--clr-font);
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}

.flex {
  gap: 0.5em;
  display: flex;
}

.subheader {
  font-weight: 600;
  font-size: 1.4rem;
}

.inline {
  display: inline;
}
.gap {
  width: 1em;
}

input,
select {
  font-size: inherit;
  font-weight: inherit;
}




.btn {
  font-family: inherit;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-radius: 10px;
  border: none;
}



$max-width: 1600px;
.Navbar {
    max-width: $max-width;

}

.CryptosPage {
  max-width: $max-width;
}

.NewsPage {
  max-width: $max-width;
  margin: 0 auto;

}

.PortfolioPage {
  max-width: $max-width;


}

.WidgetsPage {
  max-width: $max-width;

}