@import "./mixins.scss";

$table-row-height: 4.2em;

.crypto-table,
.portfolio-table {
  @include table();
}

.crypto-table {
  margin-top: 1.4em;
  max-height: fit-content;
}

.portfolio-table {
  margin-top: 1.4em;
}

.table-wrapper {
  overflow-x: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.crypto-rank {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: $table-row-height;
  gap: 0.6em;
  font-weight: 600;
}

.crypto-row {
  height: $table-row-height;
  border-bottom: 1px solid var(--clr-hr);
  transition: background-color 100ms;
  font-size: 0.9rem;
  color: var(--clr-fontAccent);
  transition: background-color 100ms;
  align-items: center;
  gap: 1em;

  &:hover {
    background-color: var(--clr-row);
  }
}

.table-head {
  height: $table-row-height;
  border-top: 1px solid var(--clr-hr);
  border-bottom: 1px solid var(--clr-hr);
  font-size: 0.9rem;
  position: sticky;
  top: 0;
  background-color: var(--clr-bg);
  z-index: 2;
}

.crypto-img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 0.8em;
}

.crypto-symbol {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.coin-data {
  display: flex;
  gap: 0.8em;
  align-items: center;
}

.crypto-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--clr-font);
}

.starred {
  color: #ffcc66;
}

.star-btn {
  color: var(--clr-fontAccent);
  cursor: pointer;

  background-color: inherit;
  border: none;
  font-size: 1rem;
  transition: all 100ms;
  padding: 0;
  &:hover {
    color: #ffcc66;
  }
}

@media screen and (max-width: 600px) {
  .crypto-table {
    font-size: 0.8rem;
  }
  .crypto-row {
    font-size: 0.8rem;
  }
  .crypto-name {
    font-size: 1rem;
  }
}
