




@mixin button($bg: #3459e7, $color: #fff) {
  background-color: $bg;
  color: $color;
  padding: 0.4em 0.6em;
  font: inherit;
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.8em 1em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
}


@mixin table() {
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  position: relative;
  z-index: 1;
  font-weight: 400;
}