:root {
  --app-width: 1600px;
  --clr-font: #111827;
  --clr-fontAccent: #6b7280;
  --clr-bg: #ffffff;
  --clr-accent: #fc8e06;
  --clr-shadow: #999;
  --clr-row: #f9fafb;
  --clr-hr: #f3f4f6;

  --clr-loss: #ea3943;
  --clr-gain: #16c784;
  --clr-logo: #fc8e06;
  --clr-btn: #3459e7;
  --clr-link: #6188ff;
}

$app-width: var(--app-width);
$clr-font: var(--clr-font);
$clr-fontAccent: var(--clr-fontAccent);
$clr-bg: var(--clr-bg);
$clr-accent: var(--clr-accent);
$clr-shadow: var(--clr-shadow);
$clr-row: var(--clr-row);
$clr-hr: var(--clr-hr);

$clr-loss: var(--clr-loss);
$clr-gain: var(--clr-gain);
$clr-logo: var(--clr-logo);
$clr-btn: var(--clr-btn);
$clr-link: var(--clr-link);