
:root {
  --clr-logo: #fc8e06;
}
/* Header ICONS */
.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8em;
  margin-left: .8em;
}
.theme-btn {
  background-color: inherit;
  border: none;
  color: var(--clr-font);
  transition: text-shadow 0.2s;
  cursor: pointer;
}
.theme-btn:hover {
  text-shadow: 0 0 15px white;
}

.nav-icon {
  background-color: inherit;
  border: none;
  color: var(--clr-font);
  font-size: 1.2rem;
  transition: text-shadow 0.2s;
  cursor: pointer;
}

/* Header */
.Nav {
  padding: 0 3em;
  padding-top: 1em;
  max-height: 15vh;


      margin: 0 auto;
    /* display: flex; */

  position: sticky;
  top: 0;
  z-index: 10;
  background:var(--clr-bg);
  max-width: var(--app-width);
  width: 95%;
}

.header-title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -1.6px;
  display: flex;
  align-items: center;
  gap: .2em;
  color: var(--clr-font);
  user-select: none;
  /* text-shadow: 0 0 25px var(--clr-logo), -1px 1px 10px rgb(229, 229, 229), 1px 1px 10px rgb(170, 168, 168); */

}
.header-title img {
  width: 30px;
    /* box-shadow: 0 0 25px #fc8e06; */
  border-radius: 50%;
}



.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   border-bottom: 1px solid var(--clr-hr);
  padding: .6em;
  background-color: var(--clr-bg);
}
.header-links {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 1.6em;
  margin-left: 2em;
  font-size: 1rem;
  font-weight: 600;
}
.nav-item {

}
.nav-link {

}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5em;
  padding-bottom: 1em;
  flex-wrap: wrap;
  font-size: .8rem;
  font-weight: 600;
   border-bottom: 1px solid var(--clr-hr);

}
.header-crypto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2em;
}

.header-control {
  display: flex;
  justify-content: center;
  align-items: center;
}


.crypto-dominance {
  display: flex;
  gap: .5em;
}

.market-change {
  display: flex;
  gap: .4em;
;}


.header-stat {
  display: flex;
  gap: .4em;
}
.header-stat-link {
  color: var(--clr-link);
}








.nav-search {
  font-size: .8rem;
  padding: .8em 1em;
  border-radius: 8px;
  background-color: var(--clr-hr);
  color: var(--clr-fontAccent);
}
.nav-search-input {
  outline: none;
  border: none;
  position: relative;
  background-color: inherit;
  padding-left: .6em;
    color: inherit;

}

.nav-select {
  padding: .4em;
  font-size: .8rem;
  outline: none;
  border: none;
  background-color: inherit;
  color: var(--clr-fontAccent);
  cursor: pointer;
  border-radius: 8px;
}

.nav-select:hover {
  background-color: var(--clr-hr);
}




