@import "../../scss/mixins.scss";

.NavbarOverlay {
  background-color: $clr-bg;
  color: $clr-font;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 16px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999;
  margin: 0;
  transition: all 200ms;
  overflow: hidden;
  white-space: nowrap;
}

.NavbarOverlay .wrap {
  padding: 1.6em 1.6em;
}

.NavbarOverlay .header {
  display: flex;
  justify-content: space-between;
  margin-right: -0.8em;
}
.NavbarOverlay .btn-exit {
  outline: none;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  color: $clr-fontAccent;
}

.NavbarOverlay .directory {
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1rem;
  font-weight: 600;
}

.NavbarOverlay .directory .nav-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $clr-hr;
  padding-bottom: 0.6em;
}

.NavbarOverlay .accounts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1.2em;
  gap: 0.4em;
}

.NavbarOverlay .control {
  display: flex;
  margin: 0 auto;
  margin-top: 1.2em;
}
.NavbarOverlay .control .select {
  flex-grow: 1;
}

.NavbarOverlay .directory-extra {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  color: $clr-fontAccent;
  width: 200px;
  margin: 0 auto;
  gap: 0.6em;
  font-size: 0.8rem;
  margin-top: 1.2em;
  font-weight: 600;
}

.NavbarOverlay .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  font-size: 1.4rem;
  color: $clr-fontAccent;
  margin-top: 1.2em;
}

.control {
  display: flex;
  gap: 0.6em;
  .select {
    @include button($clr-row, $clr-fontAccent);
  }
  > * {
    @include button($clr-row, $clr-fontAccent);
  }
}

.NavbarOverlay .btn-create {
  @include button($clr-btn, #fff);
  font-size: 0.9rem;
}
.NavbarOverlay .btn-login {
  @include button($clr-row, $clr-fontAccent);
  font-size: 0.9rem;
}
